.App {
  text-align: center;
}

p{
    text-align: left;
    font-size: 20px;
    color: white;
    line-height: 150%;
    letter-spacing: 0.0625em;
}
h1{
  text-align: left;
  color: rgb(248, 225, 19);
}

a{
  text-decoration: none; 
}